<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="stylesheets/style.css"
</head>
<body bgcolor="#e24747">
    <header class="container">
        <nav>
           <ul>
                <img src="images/logo kmutnb 1.png" alt="">
                <li>&nbsp;ระบบยืม-คืนอุปกรณ์IT 
                <div class="holder_wrap">
                <div class="holder_wrap_img">
                    <tleft3>มหาวิทยาลัยพระจอมเกล้าพระนครเหนือ</tleft3>
                </div>
                <img src="images/Rectangle 7.svg" alt=""></li><br><br>
            </ul>
        </nav>
        
    </header> 
    <nav class="container">
        <rec>
            <img src="images/Rectangle 2.svg" alt="">
            <rec2>
                    
                <div class="inner_position_left">
                <img src="images/Rectangle 3.svg" alt=""></div>
                <form action="/" method="POST">
                <div class="inner_position_left">
				        <box><input type="text" name="user" placeholder="รหัสนักศึกษา" required> </box>
				        <box1><input type="text" name="pass" placeholder="รหัสนักศึกษา4ตัวท้าย" required></box1>
				        <btn><input type="submit" value = "เข้าสู่ระบบ"></btn>
			    </form>
                   <!-- <tleft>รหัสนักศึกษา</tleft>
                    <box>
                        <input type="text" name="username" placeholder="รหัสนักศึกษา" required>
                        <input id = "inputID" type = "text" class = "textview" >
                    </box>
                    <tleft1>รหัสนักศึกษา4ตัวท้าย</tleft1>
                    <box1>
                        <input type="text" name="password" placeholder="รหัส4ตัวท้าย" required>
                        <input id = "inputlast4" type = "text" class = "textview">
                    </box1>
                    <btn>
                        <input type="button" value="เข้าสู่ระบบ">
                        <input class = "button" type = "button" value = "เข้าสู่ระบบ" onclick = "cal()">
                    </btn>-->
                    <imgright><img src="images/img.svg" alt=""></imgright>
                </div>
            </rec2>
        </rec>
    </nav>

</body>
</html>


<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Form Tutorial</title>
		<style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>
	</head>
	<body>
		<div class="login-form">
			<h1>Login Form</h1>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>
-->