@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');
* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
.wallpaper{
    width: 100%;
    height: 100%;
}
.text{
    font-size: 50px;
    text-align: center
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #879288;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:active {
    background-color: #879288;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}
.button:hover {background-color: #000000
}
.inner_position_bottom{
    margin: 0 auto;
    position:absolute;
    height:100px;
    z-index:999;
}
.holder_wrap_img{
    position:absolute;
    left: 40%;
    top: 30%;
}
.holder_wrap_img1{
    position:absolute;/* กำหนดการจัดตำแหน่งส่วนพื้นที่คลุมเนื้อหารุปและข้อความซ้อนทับ */
    left: 38%;
    /* bottom: 0%; */
    top: 55%;
}
.inner_position_bottom1{
    margin: 0 auto;
    position:absolute;
    height:50px; 
    width:100%;
    text-align: center;
    right: 5%;
}
.box{
    width: 20%;
    height: 20%;
    
    
}
* a{
    text-decoration: none;
    color: #ffffff;
}
.fc{
    color:rgb(250, 250, 250);
    font-size:medium;
}